.service-item.img1 i {
  background-image: url(../images/services/1_s.jpg);
}
.service-item.img2 i {
  background-image: url(../images/services/2_s.jpg);
}
.service-item.img3 i {
  background-image: url(../images/services/3_s.jpg);
}
.service-item.img4 i {
  background-image: url(../images/services/4_s.jpg);
}
.service-item.img5 i {
  background-image: url(../images/services/5_s.jpg);
}
.service-item.img6 i {
  background-image: url(../images/services/6_s.jpg);
}
.service-item.img7 i {
  background-image: url(../images/services/7_s.jpg);
}
.service-item.img8 i {
  background-image: url(../images/services/8_s.jpg);
}
.service-item.img9 i {
  background-image: url(../images/services/9_s.jpg);
}


body.services {
  .block {
    .content {
      .menu {
        float: left;  
        width: 400px;

        ul {
          list-style: none;
          li {
            float: left;
            width: 180px;
            height: 200px;
            text-align: center;

            a {
              display: inline-block;
            }

            &.center {
              width: 360px;
            }
          }
        }
      }

      .page {
        float: right;
        width: 560px;
      }
      @extend .clearfix;
    }

  }
}