.header, .block, .footer {
  .content {
    min-width: 320px;
  }
}

$header-height: 40px;
$header-font-size: 15px;
$header-menu-width: 250px;
@import 'mobile/header';

.footer {
  .bg {
    .sq1, .sq3 {
      display: none;
    }
  }

  .content {
    form {
      width: auto;
      padding: 10px;

      .file {
        button {
          span {
            display: none;
          }
        }
      }
    }
  }
}

.block {
  .content {
    h1 {
      font-size: 55px;

      &:after {
        bottom: -20px;
        height: 2px;
      }
    }
  }
}

body.about {
  .block {
    .content {
      a.pdf {
        margin: 60px auto; 
      }
    }
  }
}


body.team {
  .block {
    .content {
      margin-bottom: 100px;

      h2 {
        font-size: 22px;
        width: auto;
      }

      .managers {
        .bx-wrapper {
          width: 320px;
          margin: 0 auto; 
        }

        .slides .item {
          width: 160px; 
          .img {
            width: 100px;
            height: 100px;

            i {
              width: 140px;
              height: 140px;
              margin-left: -20px;
              margin-top: -20px;
              background-size: 100%;
            }
          }
        }
      }

      .team .persons .item {
        .more {
          .photo {
            margin-left: 5px;

            .rotated {
              width: 110px;
              height: 110px;

              .img {
                width: 80px;
                height: 80px;

                i {
                  width: 120px;
                  height: 120px;
                  background-size: 100%;
                  margin-left: -18px;
                  margin-top: -18px;
                }
              }
            }
          }
        } 
      }
    }
  }
}

body.press {
  .block {
    .content {
      
    }
  }
}

body.services {
  .block {
    .content {
      
    }
  }
}