.header, .block, .footer {
  .content {
    min-width: 320px;
  }
}

$header-height: 40px;
$header-font-size: 15px;
$header-menu-width: 250px;
@import 'mobile/header';

.footer {
  .bg {
    .sq1, .sq3 {
      display: none;
    }
  }

  .content {
    form {
      width: auto;
      padding: 10px;

      .file {
        button {
          span {
            display: none;
          }
        }
      }
    }
  }
}

.block {
  .content {
    h1 {
      font-size: 55px;

      &:after {
        bottom: -20px;
        height: 2px;
      }
    }
  }
}

.scroll-top {
  margin-left: -120px; 
}

body.about {
  .block {
    .content {
      a.pdf {
        margin: 60px auto; 
      }
    }
  }
}


body.team {
  .block {
    .content {
      margin-bottom: 100px;

      h2 {
        font-size: 22px;
        width: auto;
      }

      .managers {
        .bx-wrapper {
          width: 320px;
          margin: 0 auto; 
        }

        .slides .item {
          width: 160px; 
          .img {
            width: 100px;
            height: 100px;

            i {
              width: 140px;
              height: 140px;
              margin-left: -20px;
              margin-top: -20px;
              background-size: 100%;
            }
          }
        }
      }

      .team .persons .item {
        .more {
          .photo {
            margin-left: 5px;

            .rotated {
              width: 110px;
              height: 110px;

              .img {
                width: 80px;
                height: 80px;

                i {
                  width: 120px;
                  height: 120px;
                  background-size: 100%;
                  margin-left: -18px;
                  margin-top: -18px;
                }
              }
            }
          }
        } 
      }
    }
  }
}

body.press {
  .block {
    .content {
      .menu {
        padding: 15px;

        li {
          display: block;
          padding: 5px 0 25px;
          border-right: 0;
          position: relative;

          &:after {
            content: '';
            display: block;
            width: 36px;
            height: 2px;
            background: #008ccf;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%,0);
          }

          &:last-child {
            &:after { display: none }
            padding-bottom: 5px; 
          }
        }
      }

      .news {
        .item {
          padding: 40px 40px 40px 30px;

          .image {
            right: 10px;
            top: 25px;
            left: auto;
          }

          .text h4 {
            margin: 16px 40px 10px 0;
            .title {
              white-space: normal;
            }
          }
        }
      }

      .calendar {
        display: none;
      } 
    }
  }
}

body.services {
  .block {
    .content {
      
    }
  }
}