// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower

@import 'fonts';
@import 'clearfix';
@import 'grayscale';

@mixin arial ($size: 14px) {
  font: {
    size: $size;
    family: Arial, Helvetica, sans-serif;
    weight: normal;
  }
  text-transform: none;
}

@mixin arial-bold($size: 14px) {
  font: {
    size: $size;
    family: 'Arial Bold', Arial, Helvetica, sans-serif;
    weight: bold;

  }
  letter-spacing: 1px;
}

@mixin arial-bold-up($size: 14px) {
  @include arial-bold($size);
  text-transform: uppercase;
}


html, body {
  min-height: 100% !important;
  height: 100%;
}

html {
	@include arial;
  font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	// min-width: 1210px;
}

.header, .block, .footer {
  position: relative;
  z-index: 2;

  .content {
    position: relative;
    z-index: 3;
    width: 1000px;
    margin: 0 auto;
  }
}

.scroll-top {
  display: none;
}


.bx-wrapper {
  position: relative;

  .bx-prev, .bx-next {
    width: 46px;
    height: 80px;
    background: url(../images/arrow-light-grey.png) no-repeat center center;
    display: block;

    position: absolute;
    top: 50%;
    margin-top: -40px;

    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .bx-prev {
    transform: rotate(-180deg);
    left: 10px;
  }
  .bx-next {
    right: 10px;
  }
}


// все об этих серых штуках на фоне внизу, под формой
.footer .bg {
  position: relative;

  .wrapper {
    position: absolute;    
    height: 2500px;
    width: 100%;
    bottom: 0;
    overflow: hidden;

    .sq1, .sq2, .sq3 {
      background: #f4f3f3;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
      right: 50%;
    }

    $sq-padding: 60px;

    .sq1 {
      $side: 2000px;
      height: $side;
      width: $side;
      transform-origin: bottom right;
      transform: rotate(-45deg);
      border-radius: 30px;
      
      margin-bottom: 380px + $sq-padding;
      margin-right: 310px;
      overflow: hidden;

      .img {
        transform-origin: bottom right;
        transform: rotate(45deg);
        position: absolute;
        width: 100%;
        height: 100%;

        bottom: -320px;
        left: -320px;
      }
    }

    .sq2 {
      $side: 2500px;
      height: $side;
      width: $side;
      transform-origin: top right;
      transform: rotate(-45deg);
      
      margin-bottom: - $side + 620px  + $sq-padding;
      margin-right: -160px;
    }

    .sq3 {
      $side: 2000px;
      height: $side;
      width: $side;
      transform-origin: top left;
      transform: rotate(-45deg);
      
      margin-bottom: -$side + 680px  + $sq-padding;
      margin-right: -$side - 390px;
    }
  }
}

.rotated {
  @include arial-bold-up;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #000;
  width: 130px;
  position: relative;
  padding: 0 0 25px;

  .img {
    display: block;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    background: #fff;
    transform: rotate(-45deg);
    margin: 15px auto 30px;
    overflow: hidden;

    i {
      transform: rotate(45deg);
      display: block;
      height: 100px;
      width: 100px;
      $i: 15px;
      margin-left: -$i;
      margin-top: -$i;

      background-position: center center;
      background-repeat: no-repeat;
    }
  }


  &.with-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 4px;
    margin-left: -18px;
    background: #008AD2;
    left: 50%;
    bottom: 0;
  }
}

a {
  &:hover, &.active {
    color: #008AD2;
  }
}

a.pdf.rotated {
  .img {
    border: 1px solid #0085CA;

    i {
      background-image: url(../images/pdf.png);
    }
  }
}

.close {
  background: url(../images/close.png) no-repeat center center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.header {
  $height: 60px;
  height: $height;
  background: #008ccf;

  .logo {
    width: $height;
    height: $height;
    background: #fff url(../images/logo.png) no-repeat center center;
    float: left;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .menu {
    float: left;
    padding-left: 20px;
  }

  .burger {
    display: none;
  
    height: $height;
    width: $height;
    float: right;
    background: url(../images/burger.png) no-repeat  center center;
  
  }

  .lang {
    float: right
  }

  .menu, .lang {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li { 
        height: $height;
        float: left;
        position: relative;

        a {
          display: block;
          line-height: 60px;
          margin: 0 8px;
          padding: 0 5px;

          font-size: 13px;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
        }

        &.active::before {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          transform: rotate(-45deg);
          margin-top: -5px;
          margin-left: -5px;
          left: 50%;
        }

        &:hover a {
          text-decoration: underline;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          background: #fff;
          transform: rotate(-45deg);
          right: 0;
          top: 50%;
          margin-top: -2px;
          margin-right: -2px;
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }
}

.block {
  // margin: 0 0 60px;

  .content {
    // min-height: 600px;
    // padding: 0 0 40px;

    h1 {
      font-weight: normal;
      font-size: 125px;
      font-family: 'itc_avant_garde_gothicXLt';
      text-align: center;
      color: #eaeaea;

      margin: 50px 0 65px;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 92px;
        height: 4px;
        background: #008AD2;
        
        left: 50%;
        bottom: -15px;

        margin-left: -46px;
      }
    }

    h2 {
      font-weight: normal;
      font-size: 70px;
      font-family: 'itc_avant_garde_gothicXLt';
      color: #e9e9e9;
      text-transform: uppercase;
      line-height: 0.9em;
      margin: 30px 0;
    }

    h4 {
      @include arial-bold-up;
    }

    h5 {
      margin-bottom: -.9em;
      @include arial-bold(15px);
    }
  }
}





.footer {
  color: #b8b8b8;
  font-size: 12px;
  z-index: 1;
  
  .wrap {
    // position: relative;
    margin-left: 320px
  }

  .content {
    clear: both;
    text-align: center;

    // padding: 150px 0 0 320px;  

    .icon {
      display: inline-block;
      width: 44px;
      height: 60px;
      background: url(../images/logo-grey.png) no-repeat center top;
      border-bottom: 2px solid #c9c9c9
    }

    form {
      display: inline-block;
      // height: 600px;
      width: 500px;
      margin: 20px 0 0;

      input, textarea, .file {
        box-sizing: border-box;
        outline: none;
        @include arial-bold(11px);
        border: 2px solid #c9c9c9;
        background: #fff;
        width: 100%;
        letter-spacing: 1px;
        padding: 12px 16px;
        color: #000;
        margin-bottom: 12px;
      }

      input[type="text"] {
        
      }

      textarea {
        width: 100%;
        height: 100px;
      }

      input[type="submit"] {
        border: 2px solid #fff;
        color: #fff;
        background: #008ccf;
        text-transform: uppercase;
        padding: 10px 25px 9px;
        width: auto;
        margin: 0px 0 12px;
        @include arial-bold;
      }

      .file {
        position: relative;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        padding: 0;

        button {
          float: right;
          height: 100%;
          background: #fff;
          border: 0;
          border-left: 2px solid #c9c9c9;
          color: #a9a9a9;
          padding: 0 16px;
          letter-spacing: 1px;
        }

        div {
          text-align: left;
          padding-left: 16px; 
          color: #a9a9a9;
        }

        input {
          position: absolute;
          top: 0;
          opacity: 0;
        }
      }
    }

    .text {
      p {
        text-transform: uppercase;
        display: block;
        margin: 20px 0 10px;
        @include arial-bold(10px);
        letter-spacing: 2px;
      }

      a {
        text-decoration: none;
        color: #b8b8b8;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    
    a.facebook, a.linkedin {
      position: relative;
      display: inline-block;
      width: 55px;
      height: 55px;
      border-radius: 5px;
      transform: rotate(-45deg);   
      margin-top: 10px;

      .logo {
        display: block;
        width: 55px;
        height: 55px;
        transform: rotate(45deg);
      }
    }

    a.facebook {
      z-index: 2;
      background: #008ccf;
      span {
        background: url(../images/facebook.png) no-repeat 47% 45%;
      }
    }

    a.linkedin {
      z-index: 1;
      background: #fff;
      border: 1px solid #c5c5c5;
      span {
        background: url(../images/linkedin.png) no-repeat 55% 40%;
      }
    }

    .copy {
      margin-top: 5px;
      padding: 15px 0 30px;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        height: 2px;
        width: 44px;
        background: #c9c9c9;
        top: 0px;
        left: 50%;
        margin-left: -22px;
      }
    }
  }
}

@import 'pages/about';
@import 'pages/services';
@import 'pages/team';
@import 'pages/press';
@import 'pages/index';


@media all and (max-width: 1000px) {
  @import 'tablet';
}

@media all and (max-width: 768px) {
  @import 'phone';
}



