// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower

// @import 'fonts';

html, body {
  min-height: 100% !important;
  height: 100%;
}

html {
	font-family: Arial, Helvetica, sans-serif;
  font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	// min-width: 1210px;
}




.header, .block, .footer {
  position: relative;
  z-index: 2;

  .content {
    position: relative;
    z-index: 3;
    max-width: 1024px;
    margin: 0 auto; 


  }
}



// все об этих серых штуках на фоне
.bg {
  z-index: 1;
  position: relative;

  .wrapper {
    position: absolute;    
    height: 2500px;
    width: 100%;
    bottom: 0;
    overflow: hidden;

    .sq1, .sq2, .sq3 {
      background: #f4f3f3;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
      right: 50%;
    }

    $sq-padding: 60px;

    .sq1 {
      $side: 2000px;
      height: $side;
      width: $side;
      transform-origin: bottom right;
      transform: rotate(-45deg);
      border-radius: 30px;
      
      margin-bottom: 450px + $sq-padding;
      margin-right: 310px;
      overflow: hidden;

      .img {
        transform-origin: bottom right;
        transform: rotate(45deg);
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .sq2 {
      $side: 2500px;
      height: $side;
      width: $side;
      transform-origin: top right;
      transform: rotate(-45deg);
      
      margin-bottom: - $side + 620px  + $sq-padding;
      margin-right: -160px;
    }

    .sq3 {
      $side: 2000px;
      height: $side;
      width: $side;
      transform-origin: top left;
      transform: rotate(-45deg);
      
      margin-bottom: -$side + 680px  + $sq-padding;
      margin-right: -$side - 390px;
    }
  }
}


body.about {
  .bg .sq1 .img {
    background: url(../images/columns-big.jpg) no-repeat bottom right;        
    bottom: -320px;
    left: -320px;
  }
}



.header {
  height: 60px;
  background: #008ccf;

  .logo {
    width: 60px;
    height: 60px;
    background: #fff url(../images/logo.png) no-repeat center center;
    float: left;
  }

  .menu {
    float: left;
    padding-left: 20px;
  }

  .lang {
    float: right
  }

  .menu, .lang {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li { 
        height: 60px;
        float: left;
        position: relative;

        a {
          display: block;
          line-height: 60px;
          margin: 0 8px;
          padding: 0 5px;

          font-size: 13px;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
        }

        &.active::before {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          transform: rotate(-45deg);
          margin-top: -5px;
          margin-left: -5px;
          left: 50%;
        }

        &:hover a {
          text-decoration: underline;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          background: #fff;
          transform: rotate(-45deg);
          right: 0;
          top: 50%;
          margin-top: -2px;
          margin-right: -2px;
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }
}

.block {
  
  .content {
    min-height: 600px;
  }
}


.footer {
  color: #b8b8b8;
  font-size: 12px;
  
  .content {
    text-align: center;
    padding-left: 320px;  

    .icon {
      display: inline-block;
      width: 44px;
      height: 60px;
      background: url(../images/logo-grey.png) no-repeat center top;
      border-bottom: 2px solid #c9c9c9
    }

    form {
      display: inline-block;
      // height: 600px;
      width: 500px;
      margin: 20px 0 0;

      input, textarea, .file {
        box-sizing: border-box;
        outline: none;
        font-size: 11px;
        font-family: 'Arial Bold', sans-serif;
        font-weight: 700;
        border: 2px solid #c9c9c9;
        background: #fff;
        width: 100%;
        letter-spacing: 1px;
        padding: 12px 16px;
        color: #000;
        margin-bottom: 12px;
      }

      input[type="text"] {
        
      }

      textarea {
        width: 100%;
        height: 100px;
      }

      input[type="submit"] {
        border: 2px solid #fff;
        color: #fff;
        background: #008ccf;
        text-transform: uppercase;
        padding: 10px 25px 9px;
        width: auto;
        margin: 0px 0 12px;
        font-size: 14px;
        font-family: 'Arial Bold', sans-serif;
        font-weight: 700;
      }

      .file {
        position: relative;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        padding: 0;

        button {
          float: right;
          height: 100%;
          background: #fff;
          border: 0;
          border-left: 2px solid #c9c9c9;
          color: #a9a9a9;
          padding: 0 16px;
          letter-spacing: 1px;
        }

        div {
          text-align: left;
          padding-left: 16px; 
          color: #a9a9a9;
        }

        input {
          position: absolute;
          top: 0;
          opacity: 0;
        }
      }
    }

    .text {
      p {
        text-transform: uppercase;
        display: block;
        margin: 20px 0 10px;
        font-size: 10px;
        font-family: 'Arial Bold', sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
      }

      a {
        text-decoration: none;
        color: #b8b8b8;
      }
    }

    
    a.facebook, a.linkedin {
      position: relative;
      display: inline-block;
      width: 55px;
      height: 55px;
      border-radius: 5px;
      transform: rotate(-45deg);   
      margin-top: 10px;

      .logo {
        display: block;
        width: 55px;
        height: 55px;
        transform: rotate(45deg);
      }
    }

    a.facebook {
      z-index: 2;
      background: #008ccf;
      span {
        background: url(../images/facebook.png) no-repeat 47% 45%;
      }
    }

    a.linkedin {
      z-index: 1;
      background: #fff;
      border: 1px solid #c5c5c5;
      span {
        background: url(../images/linkedin.png) no-repeat 55% 40%;
      }
    }

    .copy {
      margin-top: 5px;
      padding: 15px 0 30px;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        height: 2px;
        width: 44px;
        background: #c9c9c9;
        top: 0px;
        left: 50%;
        margin-left: -22px;
      }
    }
  }
}





