extends templates/layout

block vars

block content
	.header
		.content
			.logo
			.menu
				ul
					li.active
						a(href="#") About us
					li
						a(href="#") Our team
					li
						a(href="#") Services
					li
						a(href="#") Clients
					li
						a(href="#") Recognition
					li
						a(href="#") Press-club
					li
						a(href="#") Career
					li
						a(href="#") Contacts

			.lang
				ul
					li 
						a(href="#") Ru
					li
						a(href="#") En

	.block
		.content

	.footer
		.content

			.wrapper
				.icon
				
				.text
					p Follow us
					
					a.facebook(href="#")
						span.logo

					a.linkedin(href="#")
						span.logo
					
					p Email

					a(href="mailto:info@yklaw.ru") info@yklaw.ru

				form
					input(type="text" placeholder="куда")
					input(type="text" placeholder="тема письма")
					.file прикрепить файл
					textarea(placeholder="Сообщение")
					input(type="submit" value="Submit")


				.copy.
					&copy; 2003&mdash;2015, Khrenov & Partners Law Office

		.bg
			.sq1
				.img

			.sq2
			.sq3


block scripts
	script.
		(function() {
			var menu = $('.menu')
			menu.find('a').click(function(e) { 
				menu.find('li').removeClass('active');
				$(e.target).closest('li').addClass('active');
			})
		})();
		