extends templates/layout

block vars

block content
	.header
		.content
			.logo
			.menu
				a.menu__item.active(href="#") About us
				a.menu__item(href="#") Our team
				a.menu__item(href="#") Services
				a.menu__item(href="#") Clients
				a.menu__item(href="#") Recognition
				a.menu__item(href="#") Press-club
				a.menu__item(href="#") Career
				a.menu__item(href="#") Contacts

			.lang
				a.lang__item(href="#") Ru
				a.lang__item(href="#") En

	.block
		.content

	.footer
		.content

			.wrapper
				.icon
				
				.text
					p Follow us
					
					a.facebook(href="#")
						span.logo

					a.linkedin(href="#")
						span.logo
					
					p Email

					a(href="mailto:info@yklaw.ru") info@yklaw.ru

				form
					input(type="text" placeholder="куда")
					input(type="text" placeholder="тема письма")
					.file прикрепить файл
					textarea(placeholder="Сообщение")
					input(type="submit" value="Submit")


				.copy.
					&copy; 2003&mdash;2015, Khrenov & Partners Law Office

		.bg
			.sq1
				.img

			.sq2
			.sq3


block scripts
	script.
		(function() {
			var links = $('.menu a')
			links.click(function(e) { 
				links.removeClass('active');
				$(e.target).addClass('active');
			})
		})();
		