extends templates/layout

block vars
	- var bodyClass = 'services'

block content
	.block
		.content
			h1 Services

			.menu 
				ul
					li
						a.service-item.rotated.img1(href="#1")
							span.img
								i
							| судебные споры и третейское разбирательство
					li
						a.service-item.rotated.img2(href="#2")
							span.img
								i
							| Корпоративное право, сделки, M&A
					li
						a.service-item.rotated.img3(href="#3")
							span.img
								i
							| Банкротство и&nbsp;реструктуризация
					li
						a.service-item.rotated.img4(href="#1")
							span.img
								i
							| Международный арбитраж
					li
						a.service-item.rotated.img5(href="#1")
							span.img
								i
							| Налоговое право
					li
						a.service-item.rotated.img6(href="#1")
							span.img
								i
							| Энергетика
					li
						a.service-item.rotated.img7(href="#1")
							span.img
								i
							| Недвижимость и&nbsp;строительство
					li
						a.service-item.rotated.img8(href="#1")
							span.img
								i
							| Государственно-частное партнерство
					li.center
						a.service-item.rotated.img9(href="#1")
							span.img
								i
							| Природоохрана и&nbsp;недропользование




			.page  
				h4 Litigation and Dispute Resolution
				h5 What we do
				p If you have taken the decision to take your case to trial and you choose K&Ps to represent you in court, you will have at your disposal a highly skilled team of lawyers who will work proactively with you to develop the most effective strategy to protect your rights and legal and business interests.  
				p.
					<img src="../images/services/1.jpg">
					Using our experience and knowledge of local regulatory practices, we provide our clients with an initial evaluation and professional opinion of the most likely outcome of a court case.  We will distinguish those claims which may be resolved without going to trial and should instead follow the pre trial mediation route. However, if the decision is made to go to trial, our litigators will develop tactics to employ when pleading your case and deliver results in line with your objectives. 
				p Attuned to the challenges facing our clients, we fully appreciate that you need to win the case as well as achieve enforcement of a court judgment or award.  A track record of broad experience and success of dealing with court bailiffs and enforcement officials, gives us the advantage of pursuing enforcement procedures in an efficient and results based manner.
				p Our litigators have experience of successfully protecting the interests of large Russian and foreign companies in complex disputes in such industries as energy, oil production, construction, rail transportation and so forth.  K&Ps’ lawyers have acted in several court cases where the final rulings set legal precedents and which result in changes to the way the law in question is applied in practice.
				p The firm’s lawyers will occasionally find themselves representing a client in parallel in several interrelated court cases and have therefore the ability to simultaneously coordinate procedural case strategies if the circumstances warrant it.
				p The firm’s experience of protecting clients’ interests is not limited to Russian courts. K&P’s litigators successfully represent clients before international arbitration courts (London Court of International Arbitration, Stockholm Chamber of Commerce, International Commercial Arbitration Court at the Chamber of Commerce and Industry of the Russian Federation etc.) 


block scripts

		