.footer
  .content    

    .wrap
      .icon
      
      .text
        p Follow us
        
        a.facebook(href="#")
          span.logo

        a.linkedin(href="#")
          span.logo
        
        p Email

        a(href="mailto:info@yklaw.ru") info@yklaw.ru

      form
        input(type="text" placeholder="КУДА")
        input(type="text" placeholder="ТЕМА ПИСЬМА")
        
        .file
          button 
            span ОБЗОР
            | ...
          div ПРИКРЕПИТЬ ФАЙЛ
          input(type="file")

        textarea(placeholder="СООБЩЕНИЕ")
        input(type="submit" value="Submit")

      .copy.
        &copy; 2003&mdash;2015, Khrenov & Partners Law Office


  include _bg.jade
