.footer
  .content    

    .wrap
      .icon
      
      .text
        p Follow us
        
        a.facebook(href="#")
          span.logo

        a.linkedin(href="#")
          span.logo
        
        p Email

        a(href="mailto:info@yklaw.ru") info@yklaw.ru

      form.feedback(novalidate)
        .group
          input(type="text" placeholder="КУДА" required)
          .error-message
        .group
          input(type="text" placeholder="ТЕМА ПИСЬМА" required)
          .error-message

        .file
          button 
            span ОБЗОР
            | ...
          div ПРИКРЕПИТЬ ФАЙЛ
          input(type="file")

        .group
          textarea(placeholder="СООБЩЕНИЕ" required)
          .error-message

        input(type="submit" value="Отправить")

      .copy.
        &copy; 2003&mdash;2015, Khrenov & Partners Law Office


  include _bg.jade
