.header
  .content
    .logo
      a(href="index.html")

    .menu
      ul
        li.active
          a(href="about.html") About us
        li
          a(href="team.html") Our team
        li
          a(href="services.html") Services
        li
          a(href="clients.html") Clients
        li
          a(href="recognition.html") Recognition
        li
          a(href="press.html") Press-club
        li
          a(href="career.html") Career
        li
          a(href="contacts.html") Contacts
          

    .lang
      ul
        li
          a(href="#") Ru
        li
          a(href="#") En

