doctype html

- var title = 'Khrenov&Partners'
- var bodyClass = ''
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")
  body(class="#{ bodyClass }")
    include _header.jade

    block content

    include _footer.jade
    
    script(src="scripts/main.concat.js?1")      
    script.
      $('.menu li')
        .removeClass('active')
        .each(function() {
          var i = $(this);
          if (location.pathname.indexOf(i.find('a').attr('href')) > -1) {
            i.addClass('active');
            return false;
          }
        });

      $('.header .menu').show();
      $('.header .burger').click(function() {
        $('.header .menu').toggleClass('opened');
      });
      
      $('.scroll-top').click(function(){
        var body = $('html, body');
        body.stop().animate({ scrollTop: 0 }, { duration: 400 });
      });

      
      $('form.feedback').each(function() {
        var form = $(this);
        var inputs = form.find('input, textarea');

        function clearErrors(inputEl) {
          var input = $(inputEl);
          input.removeClass('invalid');
        } 

        function validate(inputEl) {
          var input = $(inputEl);
          var isInvalid = false;
          var message = [];
          if (input.is('[required]') && !$.trim(input.val()).length) {
            isInvalid = true;
            message.push('заполните поле');
          }

          input.toggleClass('invalid', isInvalid);
          input.next('.error-message').toggle(!!message.length).html(message.join('<br>'));
        };

        var validatedInputs = inputs.filter('*[required]');
        var liveValidation = false;

        form.submit(function (e) {
          e.preventDefault();
          
          validatedInputs.each(function () {
            validate(this);
          });

          var hasInvalidInputs = inputs.filter('.invalid').length;
          if (hasInvalidInputs) {
            if (!liveValidation) {
              liveValidation = true;
              validatedInputs.on('keyup click', function (e) {
                validate(e.target);
              });  
            }
            
            return;
          }

          console.log('ajax');
          // form.serialize()
          // ajax(form_url, data, succes)
        });
      });

    block scripts

    script.
      ViewStates.add({
        id: 'desktop',
        query: '(min-width: 1001px)'
      });

      ViewStates.add({
        id: 'tablet',
        query: '(min-width: 768px) and (max-width: 1000px)'
      });

      ViewStates.add({
        id: 'phone',
        query: '(max-width: 767px)'
      });

      
      $(function() {
        ViewStates.init();
      });

      