doctype html

- var title = 'Khrenov&Partners'
- var bodyClass = ''
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")
  body(class="#{ bodyClass }")
    include _header.jade

    block content

    include _footer.jade
    
    script(src="scripts/main.concat.js?1")      
    script.
      $('.menu li')
        .removeClass('active')
        .each(function() {
          var i = $(this);
          if (location.pathname.indexOf(i.find('a').attr('href')) > -1) {
            i.addClass('active')
            return false;
          }
        })

      $('.header .menu').show();
      $('.header .burger').click(function() {
        $('.header .menu').toggleClass('opened');
      })
      
      $('.scroll-top').click(function(){
        var body = $("html, body");
        body.stop().animate({ scrollTop: 0 }, { duration: 400 });
      })

    block scripts

    script.
      addStateEvent({
        id: 'desktop',
        query: '(min-width: 1001px)'
      });

      addStateEvent({
        id: 'tablet',
        query: '(min-width: 768px) and (max-width: 1000px)'
      });

      addStateEvent({
        id: 'phone',
        query: '(max-width: 767px)'
      });




